@{
	Layout = "_LayoutEmpty";
}	
<head>
	<link rel="stylesheet" href="~/css/core.min.css" />
	<link rel="stylesheet" href="~/css/skin.css" />
	<link rel="stylesheet" href="~/css/main.css" />
</head>
<!-- Content -->
<div class="content clearfix">

	<!-- Hero 5 Login Section -->
	<div class="section-block hero-5 window-height left show-media-column-on-mobile">
		<div class="media-column width-6 bkg-grey-ultralight">
			<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-pagination="false" data-pause-on-hover="false" data-speed="2000" data-auto-advance data-auto-advance-interval="5000" data-progress-bar="false" data-scale-under="0" data-width="722">
				<ul class="tms-slides">
					<li class="tms-slide" data-image data-force-fit data-as-bkg-image data-animation="fade">
						<img data-src="images/generic/hero-half-2.jpg" data-retina src="images/blank.png" alt="" />
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="column width-5 offset-7">
				<div class="hero-content split-hero-content">
					<div class="hero-content center center-on-mobile">
						<h3>Log in with your Bungie account to continue</h3>
						<p class="mb-20">Login not working? <a href="index-register.html" class="fade-location">Click Here</a></p>
						<div class="login-form-container content-inner">
							<a href="https://www.bungie.net/en/OAuth/Authorize/?client_id=43800&response_type=code" class="button xlarge rounded bkg-theme bkg-hover-theme color-white color-hover-white"><span class="icon-login left"></span>Login with Bungie</a>
							@*<form class="login-form" action="#" method="post" novalidate>
								<div class="row">
									<div class="column width-12">
										<div class="field-wrapper">
											<label class="color-charcoal">Username/Email:</label>
											<input type="text" name="login[username]" class="form-username form-element rounded medium" placeholder="JohnDoe" required>
										</div>
									</div>
									<div class="column width-12">
										<div class="field-wrapper">
											<label class="color-charcoal">Password:</label>
											<input type="password" name="login[password]" class="form-password form-element rounded medium" placeholder="••••••••" required>
										</div>
									</div>
									<div class="column width-12">
										<div class="field-wrapper pt-0 pb-20">
											<input id="checkbox-1" class="form-element checkbox rounded" name="login[checkbox-1]" type="checkbox" required>
											<label for="checkbox-1" class="checkbox-label no-margins">Remember Me</label>
										</div>
									</div>
									<div class="column width-12">
										<input type="submit" value="Sign In" class="form-submit button rounded medium bkg-green bkg-hover-theme bkg-focus-green color-white color-hover-white mb-0">
									</div>
								</div>
							</form>*@
							<div class="form-response show"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero 5 Login Section End -->
	<!-- Subscribe Advanced Modal End -->
	<div id="subscribe-modal" class="section-block pt-0 pb-30 background-none hide">

		<!-- Intro Title Section 2 -->
		<div class="section-block intro-title-2-1 xsmall bkg-grey-ultralight">
			<div class="media-overlay bkg-black opacity-03"></div>
			<div class="row">
				<div class="column width-12">
					<div class="title-container">
						<div class="title-container-inner center color-white">
							<h1 class="title-medium mb-0">Subscribe To Newsletter</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Intro Title Section 2 End -->
		<!-- Signup -->
		<div class="section-block pt-60 pb-0">
			<div class="row">
				<div class="column width-12 center">
					<div class="signup-form-container">
						<div class="row">
							<div class="column width-10 offset-1">
								<p>Subscribe to our monthly newsletter and get the latest news from Kant. You can unsubscribe at any time.</p>
							</div>
						</div>
						<form class="signup-form merged-form-elements" action="php/subscribe.php" method="post" novalidate>
							<div class="row">
								<div class="column width-8">
									<div class="field-wrapper">
										<input type="email" name="email" class="form-email form-element rounded medium left" placeholder="Email address*" tabindex="2" required>
									</div>
								</div>
								<div class="column width-4">
									<input type="submit" value="Subscribe" class="form-submit button rounded large bkg-theme bkg-hover-green color-white color-hover-white">
								</div>
							</div>
							<input type="text" name="honeypot" class="form-honeypot form-element">
						</form>
						<div class="form-response show"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- Signup End -->

	</div>
	<!-- Subscribe Advanced Modal End -->

</div>
<!-- Content End -->