<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Destiny 2 Manager</title>
    <link href="~/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/timber.min.js"></script>
    <script src="~/js/timber.js"></script>
    <script src="~/js/timber.master.min.js"></script>
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>